html,
body,
#game-container {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
}

#game-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  margin: 0 auto;
}

#game-container>canvas {
  display: block;
  border-radius: 5px;
}

#replay-details {
  max-height: 220px;
  overflow-y: auto;
  background: #ffffff;
  margin: 0 auto;
}

#replay-details>.row {
  margin-left: 0;
  margin-right: 0;
}
